.footer {
    text-align: center;
    background-color: #212529;
    color: #fff;
    /* top: 0;
    right: 0;
    left: 0;
    z-index: 1030; */
    position: relative;

}

.container {
    max-width: none !important;
   
}


h2 {
    text-align: center;
    padding-top: 20px;
}

th, td {
    padding: 5px;
}

/* th {
    text-align: center;
} */

.center {
    border: 3px solid #1e2022;
    padding: 40px;
    background-color: #c9d6df;
    border-radius: 5px;
  }

  

/* Login - Form */

#loginf {
    background-color: #52616b;
    font-size:14px;
    color:#fff;
}
.simple-login-container{
    width:300px;
    max-width:100%;
    margin:100px auto;
  
}
.simple-login-container h2{
    text-align:center;
    font-size:20px;
}

.simple-login-container .btn-login{
    background-color:#FF5964;
    color:#fff;
}

.btn-login:hover {
  background-color: #f0134d;
  color:#fff;
}






/* nav-bar */

#logout {
  color: white;
}

#failed {

  padding-left: 20px;
}

a {
  position: relative;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
  }
  a::after {
  position: absolute;
  bottom: .3em;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  opacity: 0;
  transition: .3s;
  }
  a:hover::after {
  bottom: 0;
  opacity: 1;
  }
  
  .tfailed {
    width: 100%;
    overflow: auto;
  }

  .register {

    float:right;
    bottom: none;

  }

  .registartion {

    display: inline-block;
    margin: 0;
  }



  
 